.button
    padding: 13px 20px

    
    text-transform: uppercase
    

    border: none
    background-repeat: 2px
   
    &--primary
        background-color: $primary
        color: $light

    &--outline
        border: 1px solid $light
        background-color: transparent
        color: $light
        
